<%= form_with url: "/", method: :get, data: {clear_target: "form"} do |form| %>
   <div class="max-w-xl lg:max-w-lg mb-4">
        <h2 class="text-1xl font-bold tracking-tight text-white sm:text-2xl">Search by keywords</h2>
        <div class="mt-2 flex max-w-md gap-x-4">
            <%= form.text_field :query, placeholder: "gem, concurrency, stimulus, etc.", class: "min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6", value: params[:query] %>
        </div>
      </div>


  <div class="mb-4">
    <h2 class="text-1xl font-bold tracking-tight text-white sm:text-2xl">Type of keywords</h2>

    <%= radio_button :issue, :category, "all", id: "category-indifferent", class: "hidden", checked: params[:issue] && params[:issue][:category] == "" %>
    <label class="inline-flex items-center cursor-pointer hover:bg-secondary hover:text-black p-3 border border-transparent text-sm leading-4 font-medium rounded-md text-snow bg-none mr-1" for="category-indifferent"><i class="fa-regular fa-circle-dot m-1"></i><span>All</span></label>

    <%= radio_button :issue, :category, "open-source", id: "open-source", class: "hidden", checked: params[:issue] && params[:issue][:category] == "open-source" %>
    <label class="inline-flex items-center cursor-pointer hover:bg-secondary hover:text-black p-3 border border-transparent text-sm leading-4 font-medium rounded-md text-snow bg-none mr-1"><i class="fa-brands fa-github m-1"></i><span>Open Source</span></label>

    <%= radio_button :issue, :category, "call_to_action", id: "call-to-action", class: "hidden", checked: params[:issue] && params[:issue][:category] == "call-to-action"  %>
    <label class="inline-flex items-center cursor-pointer hover:bg-secondary hover:text-black p-3 border border-transparent text-sm leading-4 font-medium rounded-md text-snow bg-none mr-1" for="call-to-action"><i class="fa-solid fa-hand-holding-hand m-1"></i><span>Personal</span></label>
  </div>

  <div class="mb-4">
    <h2 class="text-1xl font-bold tracking-tight text-white sm:text-2xl">Assignment Status</h2>
    <%= radio_button :issue, :assigned, "", id: "assigned-indifferent", class: "btn-check", checked: params[:issue] && params[:issue][:assigned] == "" %>
    <label class="btn btn-outline-info me-1" for="assigned-indifferent">All</label>

    <%= radio_button :issue, :assigned, true, id: "assigned", class: "btn-check", checked: params[:issue] && params[:issue][:assigned] == "true" %>
    <label class="btn btn-outline-info me-1" for="assigned"><i class="fa-solid fa-user-check me-2"></i></i><span>Assigned</span></label>

    <%= radio_button :issue, :assigned, false, id: "unassigned", class: "btn-check", checked: params[:issue] && params[:issue][:assigned] == "false"  %>
    <label class="btn btn-outline-info me-1" for="unassigned"><i class="fa-solid fa-user-large-slash me-2"></i><span>Unassigned</span></label>
  </div>
  <%# OLD TAGS CODE %>
  <%# <div class="mb-4">
    <h2 class="text-1xl font-bold tracking-tight text-white sm:text-2xl">Github Tags</h2>
    <%= form.text_field :tags, 
    data: {tags_target: "input", tags_action: "keyup->tags#updateTags"}, 
    class: "w-full bg-pink border-pink focus:border-pink" %>
  <%# </div>  %>
  <div>
  <div class="relative mb-4">
        <button onclick="toggleDropdown()" class="text-black bg-white hover:bg-pink rounded-lg text-1xl font-bold tracking-tight sm:text-2xl px-4 py-2.5 text-center inline-flex items-center" type="button">
            <h2> Github Tags </h2>
        </button>
        <div id="dropdown" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 absolute">
            <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
                <li>
                    <a href="#" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ruby</a>
                </li>
                <li>
                    <a href="#" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Rails</a>
                </li>
                <li>
                    <a href="#" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Good first issue</a>
                </li>
                <li>
                    <a href="#" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Help wanted</a>
                </li>
                <li>
                    <a href="#" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Bug</a>
                </li>
                <li>
                    <a href="#" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Beginner</a>
                </li>
            </ul>
        </div>
    </div>
  </div>
  
  <div class="form-group">
  <%= form.submit "Search", class: "rounded-sm bg-white text-purple hover:bg-white hover:text-amethyst focus:bg-white focus:text-amethyst px-6 py-2 mr-2 w-40" %>    
  <%= button_tag "Clear", type: "button", class: "rounded-sm bg-secondary hover:text-purple text-snow px-4 py-2 mt-2", data: {action: "click->clear#refresh"} %>
  </div>
<% end %>



    <div class="flex flex-row justify-start items-center">
      <h2 class="text-1xl font-bold tracking-tight text-white sm:text-2xl">Github Tags</h2>
    </div>
    <form action="#">
      <div
        class="flex bg-white p-1 items-center w-full space-x-2 sm:space-x-1 rounded border ">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 opacity-50 ml-2" fill="black"
          viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z" />
        </svg>
        <input class="bg-white outline-none text-sm sm:text-base w-full dark:bg-gray-700 dark:text-gray-200 border-transparent focus:border-transparent focus:ring-0" type="text"
          placeholder="Add a tag..." />
      </div>
    </form>

    <div class='my-3 flex flex-wrap -m-1'>
      <span
        class="m-1 flex flex-wrap justify-between items-center text-xs sm:text-sm bg-gray-200 hover:bg-gray-300 dark:bg-gray-700 dark:hover:bg-gray-600 rounded px-4 py-2 font-bold leading-loose cursor-pointer dark:text-gray-300">
        Ruby
        <svg xmlns="http://www.w3.org/2000/svg"
          class="w-3 h-3 sm:h-4 sm:w-4 ml-4 text-gray-500 hover:text-gray-600 dark:text-gray-400 dark:hover:text-gray-300"
          viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd" />
        </svg>
      </span>
      <span
        class="m-1 flex flex-wrap justify-between items-center text-xs sm:text-sm bg-gray-200 hover:bg-gray-300 dark:bg-gray-700 dark:hover:bg-gray-600 rounded px-4 py-2 font-bold leading-loose cursor-pointer dark:text-gray-300 ">
        Rails
        <svg xmlns="http://www.w3.org/2000/svg"
          class="w-3 h-3 sm:h-4 sm:w-4 ml-4 text-gray-500 hover:text-gray-600 dark:text-gray-400 dark:hover:text-gray-300"
          viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd" />
        </svg>
      </span>
      <span
        class="m-1 flex flex-wrap justify-between items-center text-xs sm:text-sm bg-gray-200 hover:bg-gray-300 dark:bg-gray-700 dark:hover:bg-gray-600 rounded px-4 py-2 font-bold leading-loose cursor-pointer dark:text-gray-300">
        Good first issue
        <svg xmlns="http://www.w3.org/2000/svg"
          class="w-3 h-3 sm:h-4 sm:w-4 ml-4 text-gray-500 hover:text-gray-600 dark:text-gray-400 dark:hover:text-gray-300"
          viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd" />
        </svg>
      </span>
      <span
        class="m-1 flex flex-wrap justify-between items-center text-xs sm:text-sm bg-gray-200 hover:bg-gray-300 dark:bg-gray-700 dark:hover:bg-gray-600 rounded px-4 py-2 font-bold leading-loose cursor-pointer dark:text-gray-300">
        Help wanted
        <svg xmlns="http://www.w3.org/2000/svg"
          class="w-3 h-3 sm:h-4 sm:w-4 ml-4 text-gray-500 hover:text-gray-600 dark:text-gray-400 dark:hover:text-gray-300"
          viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd" />
        </svg>
      </span>
      <span
        class="m-1 flex flex-wrap justify-between items-center text-xs sm:text-sm bg-gray hover:bg-gray-300 dark:bg-gray-700 dark:hover:bg-gray-600 rounded px-4 py-2 font-bold leading-loose cursor-pointer dark:text-gray-300">
        Bug
        <svg xmlns="http://www.w3.org/2000/svg"
          class="w-3 h-3 sm:h-4 sm:w-4 ml-4 text-gray-500 hover:text-gray-600 dark:text-gray-400 dark:hover:text-gray-300"
          viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd" />
        </svg>
      </span>

    </div>
  

