
<% resource_name ||= :user %>
  <div style="background-image: url(<%= asset_path 'engineer_banner.jpg' %>); padding-top: 8rem; padding-bottom: 8rem" class="bg-no-repeat bg-cover w-screen">
    <div class="py-36">
      <div class="container mx-auto flex justify-between">
        <div>
          <h1 class="text-purple text-shadow text-6xl font-bold mb-0 ">First Ruby Quest</h1>
          <h3 class="text-secondary text-shadow text-2xl opacity-70 mt-2">Become an open source hero by <br>tackling beginner-friendly Github issues</h3>
        </div>
        <div class="flex items-center justify-center space-x-4">
          <div class="flex flex-row items-center justify-center space-x-4">
            <%= link_to "Get help on an issue", new_issue_path, class: "items-center justify-center rounded-md border border-transparent bg-secondary px-8 py-3 text-base font-medium text-white hover:bg-neutral md:px-10 md:py-4 md:text-lg" %>
            <% unless user_signed_in? %>
              <%= link_to "Sign up", new_registration_path(resource_name), class: "items-center justify-center rounded-md border border-transparent bg-primary px-8 py-3 text-base font-medium text-white hover:bg-secondary md:px-10 md:py-4 md:text-lg" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="container mx-auto mt-5 p-4">
      <div class="alert bg-white border-t-1 rounded-md text-black shadow-md" role="alert">
        <div class="flex">
          <div class="p-2"><%= image_tag "ruby_search", width: 30, class: "inline" %></div>
          <div class="px-2 py-3">
            <p class="text-lg font-sm">New to open source? Check out our <%= link_to "guide", guide_path, class: "underline text-purple" %> for first-time contributors!</p>
          </div>
        </div>
      </div>  
    </div>

    <div class="container pt-5 issues-container text-white">
      <div class="search" data-controller="tags clear"   data-tags-tags-value="<%= @tags %>">
        <%= render "form" %>
      </div>
      <!-- Issue Cards -->
      <div class="text-white">
        <% if @issues.empty? %>
          <p>No bookmarked issues found for the applied filters.</p>
        <% else %>
          <% @issues.each do |issue| %>
            <%= render "shared/cards", issue: issue %>
          <% end %>
        <% end %>

        <%= paginate @issues %>
      </div>
  </div>