<% resource_name ||= :user %>
<nav class="bg-dark h-[100px] p-2">
  <div class="mx-auto max-w-8xl px-4 sm:px-6 lg:px-8 h-full">
    <div class="flex h-full justify-between">
      <div class="flex">
        <div class="flex flex-shrink-0 items-center py-2">
          <%= link_to root_path, class: "h-full" do  %>
            <%= image_tag "logo-black.png", class: "w-auto h-full"  %>
          <% end %>
        </div>
      </div>
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <% if user_signed_in? %>
            <!-- Display "Dashboard" link when signed in -->
            <%= render "shared/button", text: "Dashboard", path: dashboard_path, color: "bg-primary" %>
            <%= render "shared/button", text: "Log out", path: destroy_user_session_path, color: "bg-error", data: { turbo_method: :delete } %>
          <% else %>
            <%= render "shared/button", text: "Sign up", path: new_registration_path(resource_name), color: "bg-primary"  %>
            <%= render "shared/button", text: "Log in", path: new_user_session_path, color: "bg-success"  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
